<footer class="bg-near-black bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between">
  <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.BaseURL }}" >
    &copy; {{ now.Format "2006" }} {{ .Site.Title }}
  </a>
    
<!-- Default Statcounter code for Angkorhats.tk
https://angkorhats.tk -->
<script type="text/javascript">
var sc_project=11956783; 
var sc_invisible=0; 
var sc_security="81aabc75"; 
var scJsHost = "https://";
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="Web Analytics
Made Easy - StatCounter" href="https://statcounter.com/"
target="_blank"><img class="statcounter"
src="https://c.statcounter.com/11956783/0/81aabc75/0/"
alt="Web Analytics Made Easy -
StatCounter"></a></div></noscript>
<!-- End of Statcounter Code -->
 <div>{{ partial "social-follow.html" . }}</div>
  </div>
</footer>
